.ImageContainer {
    box-sizing: border-box;
    position: relative;
}

.Image {
    object-fit: contain;
    width: 100%;
}

.UserCard {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: white;
    border-radius: 5px;
    color: rgb(27, 27, 27);
}