.Create  {
    margin: 100px 0;
}

.Title {
    margin-bottom: 25px;
}

.Create input, .Create select {
    max-width: 500px;
}

.Preview {
    padding: 16px;
    border: 1px #e8e8e8 solid;
    border-radius: 3px;
    width: 100%;
    display: inline-block;
}

.Container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.Dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px dashed #eeeeee;
    border-radius: 2px;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
}
.Dropzone p {
    margin: 0;
}

.ThumbsContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
    justify-content: center;
}
  
.Thumb {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    max-height: 80vh;
    box-sizing: border-box;
    padding: 4px;
    box-sizing: border-box;
}
  
.ThumbInner {
    display: flex;
    min-width: 0;
    overflow: hidden;
    box-sizing: border-box;
}
  
.Img {
    object-fit: contain;
    display: block;
    width: 100%;
    /* height: 100%; */
}