.Header {
  height: 60px;
  background: #fff;
}
.Logo {
  float: left;
  position: relative;
}
.Logo img {
  position: absolute;
  top: -20px;
}
.UserMenu {
  float: right;
  cursor: pointer;
  vertical-align: middle;
}
